/*GOOGLE FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

h1 {
  font-family: "Twinkle Star", cursive;
  color: rgb(48, 14, 14);
  font-size: 3.5rem;
  text-align: center;
  margin: 0 auto;
}

#OrderHere {
  text-align: center;
  padding: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-color: rgba(255, 0, 0, 0.574);
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
}


div {
  font-family: "Indie Flower", cursive;
  font-weight: 800;
  font-size: 30px;
}

footer {
  position: relative;
  padding: 8px;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 0, 0, 0.075);
  text-align: center;
}



#nav_list {
  display: block;
  list-style-type: none;
  margin-top: -5px;
  margin-bottom: 0px;
  padding: 0;
  padding-right: 150px;
  text-align: right;
  font-size: 35px;
  font-weight: bold;
  font-family: "Garamond";
  letter-spacing: 2px;
  color: #ffffff;
}

.nav_options {
  display: inline;
  font-size: 25px;
}

#BusinessName {
  position: absolute;
  top: -25px;
  padding: 0;
  font-size: 2.5rem;
}

#menuBG {
  position: relative;
  text-align: center;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  top: -470px;

  padding: 0;
  background-image: linear-gradient(rgba(137, 0, 0, 0.686), rgb(0, 0, 0));

}

#frmMenu {
  position: relative;

  width: 100%;
  height: 200px;
  padding: 0;
  display: block;
}


/* Float size menu to left, beside toppings*/
.left {
  width: 300px;
  margin: 0 auto;
  float: left;
  color: white;
  left:0;
}
/* Float veggies toppings menu to right, beside sizes*/
.center {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  color: white;
}
/* Float toppings menu to right, beside sizes and meats*/
.right {

  width: 300px;
  float: right;
  margin: 0 auto;
  top: 0;
  right: 0;
  color: white;
}

#showText {
  width: 200px;
  height: 390px;
  margin: 0px auto;
  float: left;
  position: relative;
}
#totalPrice {
  width: 200px;
  height: 190px;
  margin: 0px auto;
  float: right;
  position: relative;
}

#cart {
  left: 0px;
  width: 500px;
  height: 500px;
  z-index: 1;
  padding: 20px;
  margin: 0 auto;
  display: block;
}

#btnOrder {
  margin: 10px 0px 0px 350px;
  width: auto;
  height: 40px;
  background-color: green;
  color: white;
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
}

#btnOrder:hover {
  background-color: greenyellow;
  color: black;
}

#about{
  display: block;
  position: relative;
  margin: 0 auto;

}

@media screen and (max-width: 1200px) {
  .menu {
      font-size: 2vw;
      }
  }