/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

body {
  font-family: "Bangers";
  background-color: rgb(71, 71, 71);
}

/*This container includes the table and canvas*/
.center-container {
  /*this property set the width of the container*/
  width: 608px;
  /*this property centers the container*/
  margin: 0 auto;
  /* 50px down from top*/
  margin-top: 50px;
}

table {
  /*this property collapses table borders into 1 border*/
  border-collapse: collapse;
  /*This hides outer borders on table*/
  border-style: hidden;
}

td {
  /*This property changes the cursor to the index finger hand when we hover over td elements*/
  cursor: pointer;
  /* this property sets table border style*/
  border: 4px solid rgba(255, 0, 0, 0.8);
  /*this property removes default padding*/
  padding: 0px;
  width: 200px;
  height: 200px;
}

canvas {
  /*This property sets the position of our canvas to the top left corner of container*/
  position: absolute;
  /*this property places our canvas over the top of table*/
  z-index: 10;
  /*this property makes our canvas invisible*/
  pointer-events: none;
}

h1 {
  text-align: center;
  font-size: 50px;
  letter-spacing: 0.75rem;
  color: rgb(255, 0, 0);
  text-shadow: rgb(244, 164, 96) 2px 2px;
}

#TYM-GIF {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 220px;

  border: none;
  z-index: -1;
}
